consumirWebService/Connected Services/servicioCasasWcf/servicioWcfCasas1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/serviciosWebDatos.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/serviciosWebDatos.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCasas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Casas" nillable="true" type="tns:Casas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCasas" nillable="true" type="tns:ArrayOfCasas" />
  <xs:complexType name="Casas">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dueño" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Dueños" nillable="true" type="tns:Dueños" />
      <xs:element minOccurs="0" name="Ubicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCasa" type="xs:int" />
      <xs:element minOccurs="0" name="tipodeCasa" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Casas" nillable="true" type="tns:Casas" />
  <xs:complexType name="Dueños">
    <xs:sequence>
      <xs:element minOccurs="0" name="Casas" nillable="true" type="tns:ArrayOfCasas" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edad" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idDueño" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dueños" nillable="true" type="tns:Dueños" />
</xs:schema>