consumirWebService/Connected Services/servicioCasasWcf/servicioWcfCasas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="servicioWcfCasas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52989/servicioWcfCasas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52989/servicioWcfCasas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52989/servicioWcfCasas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/serviciosWebDatos.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IservicioWcfCasas_registrosCasas_InputMessage">
    <wsdl:part name="parameters" element="tns:registrosCasas" />
  </wsdl:message>
  <wsdl:message name="IservicioWcfCasas_registrosCasas_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrosCasasResponse" />
  </wsdl:message>
  <wsdl:message name="IservicioWcfCasas_seleccionarCasa_InputMessage">
    <wsdl:part name="parameters" element="tns:seleccionarCasa" />
  </wsdl:message>
  <wsdl:message name="IservicioWcfCasas_seleccionarCasa_OutputMessage">
    <wsdl:part name="parameters" element="tns:seleccionarCasaResponse" />
  </wsdl:message>
  <wsdl:message name="IservicioWcfCasas_insertarCasa_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarCasa" />
  </wsdl:message>
  <wsdl:message name="IservicioWcfCasas_insertarCasa_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarCasaResponse" />
  </wsdl:message>
  <wsdl:message name="IservicioWcfCasas_modificarCasa_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarCasa" />
  </wsdl:message>
  <wsdl:message name="IservicioWcfCasas_modificarCasa_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarCasaResponse" />
  </wsdl:message>
  <wsdl:message name="IservicioWcfCasas_eliminarCasa_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarCasa" />
  </wsdl:message>
  <wsdl:message name="IservicioWcfCasas_eliminarCasa_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarCasaResponse" />
  </wsdl:message>
  <wsdl:portType name="IservicioWcfCasas">
    <wsdl:operation name="registrosCasas">
      <wsdl:input wsaw:Action="http://tempuri.org/IservicioWcfCasas/registrosCasas" message="tns:IservicioWcfCasas_registrosCasas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IservicioWcfCasas/registrosCasasResponse" message="tns:IservicioWcfCasas_registrosCasas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="seleccionarCasa">
      <wsdl:input wsaw:Action="http://tempuri.org/IservicioWcfCasas/seleccionarCasa" message="tns:IservicioWcfCasas_seleccionarCasa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IservicioWcfCasas/seleccionarCasaResponse" message="tns:IservicioWcfCasas_seleccionarCasa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarCasa">
      <wsdl:input wsaw:Action="http://tempuri.org/IservicioWcfCasas/insertarCasa" message="tns:IservicioWcfCasas_insertarCasa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IservicioWcfCasas/insertarCasaResponse" message="tns:IservicioWcfCasas_insertarCasa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarCasa">
      <wsdl:input wsaw:Action="http://tempuri.org/IservicioWcfCasas/modificarCasa" message="tns:IservicioWcfCasas_modificarCasa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IservicioWcfCasas/modificarCasaResponse" message="tns:IservicioWcfCasas_modificarCasa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarCasa">
      <wsdl:input wsaw:Action="http://tempuri.org/IservicioWcfCasas/eliminarCasa" message="tns:IservicioWcfCasas_eliminarCasa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IservicioWcfCasas/eliminarCasaResponse" message="tns:IservicioWcfCasas_eliminarCasa_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IservicioWcfCasas" type="tns:IservicioWcfCasas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registrosCasas">
      <soap:operation soapAction="http://tempuri.org/IservicioWcfCasas/registrosCasas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="seleccionarCasa">
      <soap:operation soapAction="http://tempuri.org/IservicioWcfCasas/seleccionarCasa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarCasa">
      <soap:operation soapAction="http://tempuri.org/IservicioWcfCasas/insertarCasa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarCasa">
      <soap:operation soapAction="http://tempuri.org/IservicioWcfCasas/modificarCasa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarCasa">
      <soap:operation soapAction="http://tempuri.org/IservicioWcfCasas/eliminarCasa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="servicioWcfCasas">
    <wsdl:port name="BasicHttpBinding_IservicioWcfCasas" binding="tns:BasicHttpBinding_IservicioWcfCasas">
      <soap:address location="http://localhost:52989/servicioWcfCasas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>