consumirWebService/Connected Services/servicioCasasWcf/servicioWcfCasas2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52989/servicioWcfCasas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/serviciosWebDatos.Models" />
  <xs:element name="registrosCasas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="registrosCasasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/serviciosWebDatos.Models" minOccurs="0" name="registrosCasasResult" nillable="true" type="q1:ArrayOfCasas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="seleccionarCasa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="seleccionarCasaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/serviciosWebDatos.Models" minOccurs="0" name="seleccionarCasaResult" nillable="true" type="q2:Casas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarCasa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/serviciosWebDatos.Models" minOccurs="0" name="insCasa" nillable="true" type="q3:Casas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarCasaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertarCasaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarCasa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/serviciosWebDatos.Models" minOccurs="0" name="modCasas" nillable="true" type="q4:Casas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarCasaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modificarCasaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarCasa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliCasa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarCasaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarCasaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>